body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: WhiteSmoke;
}

header {
  width: 100%;
  border-bottom: 3px solid #222;
  box-shadow: 0 4px 2px -2px #888;
  align-items: center;
  background-color: #222;
  color: WhiteSmoke;

}


.container {
  display: flex;
}

.halfpage {
  max-width: 50%;
}


.collection {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
